@import '~bootstrap/dist/css/bootstrap.min.css';

img{
    width: 25%;
    height: auto;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style: none;
}

textarea{
    resize: none;
}